
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <a class="btn btn-large" href="/login">button</a>        
          <img class="" alt="Brand" src="http://cdn2.hubspot.net/hub/338466/file-2273758486-svg/MainLogo.svg">
        </a>
      </div>
    </div>
  </nav>
  <div class="container-fluid container2" style="background-color: #FFFFFF;">
    <div class="row" style="color: #fff;">
      <p class="lead">Digital Marketing As A Service.</p>
      <p class="lead2">Plug and play marketing services for growing companies.</p>
      <!-- Standard button -->
      <!-- <input class="btn btn-lg animated rollIn" value="See Our Clients" href="#target"> -->
      <a class="btn btn-lg animated rollIn" href="#target" role="button">See Our Clients</a>
    </div>
  </div>

  <div class="container-fluid container2">
    <div class="row">
      <div class="col-md-4"><img src="http://www.rover.com/blog/wp-content/uploads/2012/10/TrustCloud_logo_vector.jpg" style="width:290px" alt="TrustCloud"></div>
      <div class="col-md-4"><img src="https://gogohire.com/images/company/leadgenius.png" style="width:290px" alt="LeadGenius"></div>
      <div class="col-md-4"><img src="http://cdn2.hubspot.net/hub/120299/file-1505341964-png/PI_Website_v2/pi_homepage/assets/logo2.png" style="width:290px" alt="PriceIntelligently"></div>
    </div>

    <div id="target" class="row">
      <div class="col-md-6"><img src="http://i.ytimg.com/i/8lvDRZbihAb0fCxX1J5JfQ/mq1.jpg?v=4f7d1878" alt="Inform, INC"></div>
      <div class="col-md-6"><img src="http://cdn2.hubspot.net/hub/338466/file-2273758496-png/codejobs.io.png" style="width:290px" alt="CodeJobs.io"></div>
      </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </body>
