
<body>


<h2> HTML Form Needed </hi>
<form action="/login" method="POST">
  <label for="username" Username:>
  <input#username type="text" name="username">
  <label for="password" Username:>
</form>

</body>
